body {
    width: 100%;
}

#menu {
    float: left;
    width: 10%;
}

#subpage {
    float: right;
    width: 90%;
}

.vl {
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
    left: 10%;
    // margin-left: -3px;
    top: 0;
}
